.login
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  width: 100%
  background-image: url(../../../assets/img/background.png)
  &__form
    padding: 10px 20px
    background-color: #5a3e3e
    width: 400px
    &__submit
      width: 100%
