.list
  padding: 10px 20px
  .divider
    margin: 10px 0px
  &__content
    display: flex
    flex-wrap: wrap
  &__page
    text-align: right

.item
  width: 45%
  margin-right: 5%
  margin-bottom: 10px
  &__img
    width: 140px
  &__content
    display: inline-block
    text-align: center