@import "variables"

@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 300
  src local("Open Sans Light"), local("OpenSans-Light"), url(../assets/fonts/google/open-sans-light.woff) format("woff")

@font-face {
  font-family 'Open Sans'
  font-style normal
  font-weight 400
  src local("Open Sans"), local("OpenSans"), url(../assets/fonts/google/open-sans.woff) format("woff")
}

@font-face {
  font-family 'Open Sans'
  font-style normal
  font-weight 600
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(../assets/fonts/google/open-sans-semibold.woff) format("woff")
}

@font-face {
  font-family 'Open Sans'
  font-style normal
  font-weight 700
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../assets/fonts/google/open-sans-bold.woff) format("woff")
}

@font-face
  font-family 'Open Sans'
  font-style italic
  font-weight 400
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../assets/fonts/google/open-sans-italic.woff) format("woff")

@font-face
  font-family 'Open Sans'
  font-style italic
  font-weight 300
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url(../assets/fonts/google/open-sans-italic-light.woff) format("woff")

.iota-page
  position: relative
  top: 0 - $headerHeight

.iota-container
  width: 1200px;
  margin: auto
  position: relative

.iota-carousel
  .ant-carousel
    position: relative
    width: 100%
    z-index: 969
    height: 497px
    .slick-list
      display: block
      width: 100%
      position: relative
    .slick-slide
      position: relative
      height: 497px
      background: #506b9e
      color: #fff
      overflow: hidden
    .slick-dots
      display: none !important

.iota-wrapper
  width: 100%
  height: 100%
  margin: 0 auto
  position: relative

@media screen and (max-width: 1200px) {
  .iota-wrapper {
    width: 1200px
  }
}
