
.header
  flex:1
  height: $headerHeight
  line-height: $headerHeight
  width: 100%
  &__logo
    float:right
    

.footer
  flex:1
  height: 257px
  width: 100%
  &__rights
    text-align: center

.body
  display: flex
  min-height: 100vh
  flex-direction: column
  &__content
    display: flex
    flex:1
    &__sider
      flex: 1
    &__children
      flex: 0 0 12em



