.header
  padding: 0 16px
  flex:0 0 auto
  display: flex
  margin: 0 auto
  align-items: center
  justify-content: center
  background-color: $bannerColor
  width: $headerWidth
  height: $headerHeight
  line-height: $headerHeight
  &__menu
    display: flex
    padding-top: 26px
    width: 55%
  &__right
    width: 19%
  &__logo
    width: 19%
    &__text
      font-size: 18px
      margin-left: 10px
    &__logo
      width: 30px
      height:30px


.footer
  flex:0 0 323px
  // height: 500px
  width: 100%
  align-items: center
  padding-top: 8px
  background-color: $bannerColor
  &__content
    padding: 30px 0
    width: 1000px
    margin: 0 auto
    &__banner
      color:rgb(51, 51, 51)
      display: flex
      font-family:"Microsoft YaHei UI Light"
      span
        display: block
        width: 250px
        text-align: left
      &__title
        cursor:pointer
        font-size:24px
        font-weight:700
      &__title:hover
        color: #e50012
      &__item
        margin-top: 66px
        padding-left: 0px
      li
        font-size: 12px
        cursor:pointer
        list-style:none
        padding-left: 0px
      li:hover
        color: #e50012
    &__rights
      margin-top: 20px
      font-size: 12px
    

.react-root
  background-color: rgb(255,255,255)
.body
  display: flex
  min-height: 100vh
  flex-direction: column
  &__content
    margin: 0 auto
    width: 1000px
    display: flex
    flex:1




