.banner
  width: 1000px
  img
    width: 1000px
    height: 328
  button
    background: #e50012 !important 

.home
  padding-top: 8px
  &__pics
    width: 100%

.pic
  margin-top: 20px
  background-color: $bannerColor
  // border: 1px solid black
  &__item
    position: relative
    display: inline
    &__button
      position: absolute
      
  img
    margin: 14px
    width: 220px
    height: 110px