.banner
  width: $globalWidth
  img
    width: $globalWidth
    height: 328
  button
    background: #e50012 !important 

.home
  margin-bottom: 80px
  padding-top: 8px
  &__pics
    width: 100%
    &__products
      text-align: center
      font-family: "Lato, Helvetica, Arial, Verdana, sans-serif"
      font-size: 30px
      margin-bottom: 0px
      margin-top: 2rem
  &__apps
    width: 100%
    &__app
      text-align: center
      font-family: "Lato, Helvetica, Arial, Verdana, sans-serif"
      font-size: 30px
      margin-bottom: 0px
      margin-top: 2rem
.pic
  margin-top: 20px
  background-color: $bannerColor
  // border: 1px solid black
  &__item
    cursor: pointer
    position: relative
    display: inline
    .button
      left: 20px
      bottom: -34px
      color: #696969
      z-index: 11
      position: absolute
      text-align: center
      font-family: "微软雅黑"
      font-size: 12px
      border-bottom: #fff 1px solid
      border-left: #fff 1px solid
      border-top: #fff 1px solid
      border-right: #fff 1px solid
      padding: 4px 10px
      border-radius: 6px
    img
      margin: 2%
      width: 21%
  &__item:hover .button
    border-color: $hoverColor

.app
  background-color: $bannerColor
  &__content
    padding: 0 50px
    font-size: 16px
    text-align: center
  img
    width: 21%
    margin: 2%

.line
  border-color: $hoverColor
  border-style: solid
  border-width: 0px
  width: 15%
  border-top-width: 1px
  height: 1px
  margin: 20px auto