.banner
  width: 1000px
  img
    width: 1000px
    height: 328
  button
    background: #e50012 !important 

.home
  padding-top: 8px
  &__pics
    width: 100%

.pic
  margin-top: 20px
  background-color: $bannerColor
  // border: 1px solid black
  &__item
    cursor: pointer
    position: relative
    display: inline
    &__button
      left: 20px
      bottom: 10px
      color: #696969
      z-index: 11
      position: absolute
      text-align: center
      font-family: "微软雅黑"
      font-size: 12px
      border-bottom: #fff 1px solid
      border-left: #fff 1px solid
      border-top: #fff 1px solid
      border-right: #fff 1px solid
      padding: 4px 10px
      border-radius: 6px
  img
    margin: 14px
    width: 220px
    height: 110px